#main { box-shadow: none !important; }

.devhelp-hidden { display: none; }

.toc { background: transparent !important; }

:root { --body-bg: #fafafb !important; }

@media (prefers-color-scheme: dark) {
  :root { --body-bg: #1d1d20 !important; }
}

/* https://github.com/workbenchdev/Biblioteca/blob/022ede135351cbff519e456ab38b6624e3938e0b/src/WebView.js#L95 */
.overshoot-overlay-bottom {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.07), transparent 4px);
  overflow-x: hidden;
  pointer-events: none;
}
.overshoot-overlay-top {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.07);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), transparent 4px);
  overflow-x: hidden;
  pointer-events: none;
}
@media (prefers-color-scheme: dark) {
  .overshoot-overlay-top {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.36);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.36), transparent 4px);
  }
  .overshoot-overlay-bottom {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.36);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.36), transparent 4px);
  }
}
