paneldockchild.start {
  background: @sidebar_bg_color;
  color: @sidebar_fg_color;
}

paneldockchild.start:backdrop {
  background: @sidebar_backdrop_color;
}

paneldockchild.start panelresizer separator {
  background: transparent;
}

paneldockchild.center tabbar > revealer > box {
  background: transparent;
}

searchview columnview {
  padding-left: 24px;
  padding-right: 24px;
}

searchview columnview listview {
}

searchview columnview listview row {
  border-radius: 6px;
  margin: 1px 0px;
  min-height: 36px;
}

searchview columnview listview row > * {
  padding: 3px 6px;
}

tag {
  border-radius: 33px;
  padding: 1px 8px;
  font-size: .8333em;
  font-weight: normal;
}

tag.since {
  background: #3584e4;
  color: white;
}

tag.deprecated {
  background: #ed333b;
  color: white;
}

tag.stability {
  background: #e5a50a;
  color: black;
}

tag.installation,
tag.language {
  background: alpha(currentColor,.2);
}

entry.statusbar {
  border-radius: 0 0 0 12px;
  min-height: 36px;
}

panelstatusbar {
  background: var(--view-bg-color);
  color: var(--view-fg-color);
  min-height: 36px;
}

ManualsPathBar {
  padding-left: 4px;
  padding-right: 4px;
}

ManualsPathBar pathbutton button {
  padding: 3px 9px;
}

ManualsPathBar pathbutton:not(.leaf) button > * {
  opacity: 0.55;
}


list.card row:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
list.card row:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
list.card row:not(:last-child) {
  border-bottom: 1px solid @card_shade_color;
}

.install-progress {
  background-image: linear-gradient(to top, @accent_bg_color 2px, alpha(@accent_bg_color, 0) 2px);
  background-repeat: no-repeat;
  background-position: 0 bottom;
  transition: none;
  background-size: 0;
}
.install-progress:dir(rtl) {
  background-position: 100% bottom;
}
